<div id="offline">Connection to the network has been lost. We will re-connect you as soon as possible</div>
<nav class="wrapper header-nav">
    <ul class="nav-list">
        <li class="nav-list__item"><a class="nav-list__link" href="{{ site.url }}/" title="Home">Home</a></li>
        <li class="nav-list__item"><a class="nav-list__link" href="{{ site.url }}/hello" title="Hello">Hello</a></li>
        <li class="nav-list__item"><a class="nav-list__link" href="{{ site.url }}/offline" title="Offline">Offline</a></li>
    </ul>
</nav>