---
---
{% include head.html %}
{% include navigation.html %}
{% include header.html %}
    <section class="wrapper">        
        <ul class="list">
            {% for post in site.posts %}
            <li class="list__item">
            <a class="list__link" href="{{ post.url }}">{{ post.title }}</a>
                <p class="list__info">
                    <span class="list__excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</span>
                    <span class="list_categories">{{ post.categories }}</span>
                </p>            
            </li>
            {% endfor %}
        </ul>
    </section>
{% include footer.html %}